<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaochuang.pervue.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaochuang.pervue.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="enabled" property="enabled" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="userface" property="userface" />
        <result column="remark" property="remark" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
    </resultMap>
    <resultMap id="BaseResultMapVo" type="com.xiaochuang.pervue.entity.UserVo" extends="BaseResultMap">
        <result column="provinceName" property="provinceName"></result>
        <result column="cityName" property="cityName"></result>
        <result column="districtName" property="districtName"></result>
        <result property="rids" column="rids"></result>
        <result property="rnames" column="rnames"></result>
        <result property="rnameZhs" column="rnameZhs"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, telephone, address, enabled, username, password, userface, remark, sex, province, city, district,provinceName,cityName,districtName
    </sql>
    <select id="selectVo" resultMap="BaseResultMapVo">
        SELECT
	    u.*, p.province provinceName,IF (c.city = '',p.province,c.city) cityName,IF (d.district = '',
	    c.city,
	    d.district
        ) districtName,
        GROUP_CONCAT(r.id)rids,
        GROUP_CONCAT(r.`name`)rnames,
        GROUP_CONCAT(r.nameZh)rnameZhs
        FROM
	    `user` u
        LEFT JOIN nation p ON u.province = p.id
        LEFT JOIN nation c ON u.city = c.id
        LEFT JOIN nation d ON u.district = d.id
        LEFT JOIN user_role ur on u.id=ur.uid
        LEFT JOIN role r on ur.rid=r.id
        <where>
            <if test="userVo!=null">
                <if test="userVo.phone!=null and userVo.phone!=''">
                    and u.phone=#{userVo.phone}
                </if>
                <if test="userVo.name!=null and userVo.name!=''">
                    and u.name like concat('%',#{userVo.name},'%')
                </if>
            </if>
        </where>
        GROUP BY u.id
    </select>
</mapper>
